/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Common Styles */

.hide { display: none !important; }

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

.pull-right { float: right; }
.pull-left  { float: left; }

.content-wrapper {
    max-width : 1170px;
    margin    : 0 auto;
    padding   : 0 15px;
}

.clickable { cursor: pointer; cursor: hand; }

.inline-top { display: inline-block; vertical-align: top; }







/* App Styles */
html { height: 100%; }
html,body {
    position    : relative;
    overflow-x  : auto;
    overflow-y  : auto;
    margin      : 0;
    font-family : 'Roboto', sans-serif;
    text-align  : center;
}

#main-content {
    max-width : 1170px;
    margin    : 40px auto;
}






#search-box.loading #preloader6 { display: block; }
#search-box.loading .app-btn { display: none; }

.app-btn {
    border             : none;
    font-family        : inherit;
    font-size          : inherit;
    color              : inherit;
    background         : none;
    cursor             : pointer;
    padding            : 25px 80px;
    display            : inline-block;
    margin             : 15px 30px;
    text-transform     : uppercase;
    letter-spacing     : 1px;
    font-weight        : 700;
    outline            : none;
    position           : relative;
    -webkit-transition : all 0.3s;
    -moz-transition    : all 0.3s;
    transition         : all 0.3s;
}
.app-btn:after {
    content            : '';
    position           : absolute;
    z-index            : -1;
    -webkit-transition : all 0.3s;
    -moz-transition    : all 0.3s;
    transition         : all 0.3s;
}
.app-btn { border-radius: 40px; }
.app-btn:hover {
    box-shadow : 0 4px #ab3c3c;
    top        : 2px;
}
.app-btn:active {
    box-shadow : 0 0 #ab3c3c;
    top        : 6px;
}
.app-btn {
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

#preloader6{
    position  : relative;
    width     : 42px;
    height    : 42px;
    margin    : 0 auto;
    display   : none;
    animation : preloader_6 5s infinite linear;
}
#preloader6 span{
    width      : 20px;
    height     : 20px;
    position   : absolute;
    background : red;
    display    : block;
    animation  : preloader_6_span 1s infinite linear;
}
#preloader6 span:nth-child(1){ background : #2ecc71; }
#preloader6 span:nth-child(2){
    left            : 22px;
    background      : #9b59b6;
    animation-delay : .2s;
}
#preloader6 span:nth-child(3){
    top             : 22px;
    background      : #3498db;
    animation-delay : .4s;
}
#preloader6 span:nth-child(4){
    top             : 22px;
    left            : 22px;
    background      : #f1c40f;
    animation-delay : .6s;
}

@keyframes preloader_6_span {
   0% { transform:scale(1); }
   50% { transform:scale(0.5); }
   100% { transform:scale(1); }
}
@keyframes preloader_6 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}



