/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #E8E8E8;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Common Styles */

.hide { display: none !important; }

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

.pull-right { float: right; }
.pull-left  { float: left; }

.content-wrapper {
    max-width : 1170px;
    margin    : 0 auto;
    padding   : 0 15px;
}

.clickable { cursor: pointer; cursor: hand; }

.inline-top { display: inline-block; vertical-align: top; }







/* App Styles */
html { height: 100%; }
html,body {
    position    : relative;
    overflow-x  : auto;
    overflow-y  : auto;
    margin      : 0;
    font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align  : center;
}

#main-content {
    max-width : 1170px;
    margin    : 120px auto;
}


#start-search-btn{
    display: block;
}
#close-search-btn{
    display: none;
}
#search-box.loading #start-search-btn{
    display: none;
}
#search-box.loading #close-search-btn{
        display: block;
}
.app-btn {
    border             : none;
    font-family        : inherit;
    font-size          : inherit;
    color              : inherit;
    background         : none;
    cursor             : pointer;
    padding            : 25px 80px;
    display            : inline-block;
    margin             : 15px 30px;
    letter-spacing     : 1px;
    outline            : none;
    position           : relative;
    border-radius      : 40px;
    color              : #aaa;
    border             : 1px solid #aaa;
    -webkit-transition : all 0.15s ease-in-out;
    -o-transition      : all 0.15s ease-in-out;
    -moz-transition    : all 0.15s ease-in-out;
    transition         : all 0.15s ease-in-out;
    overflow: visible;
    -webkit-transition: color 0.7s;
    transition: color 0.7s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    
}

.app-btn:hover { background: #f5f5f5;outline:none; }

.app-btn::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}

#help-text {
    max-width   : 400px;
    margin      : 80px auto;
    font-size   : 14px;
    line-height : 20px;
    color       : #333;
}

#wave-container { position: relative; }
#wave-container .dummy-line {
    position           : absolute;
    top                : 50%;
    left               : 50%;
    right              : 0;
    bottom             : 0;
    height             : 1px;
    background         : #d9d9d9;
    max-width          : 400px;
    width              : 85%;
    opacity            : 0;
    -webkit-transform  : translate3d(-50%,-50%,0);
    -moz-transform     : translate3d(-50%,-50%,0);
    -o-transform       : translate3d(-50%,-50%,0);
    transform          : translate3d(-50%,-50%,0);
    -webkit-transition : opacity 0.2s ease-in-out;
    -moz-transition    : opacity 0.2s ease-in-out;
    -o-transition      : opacity 0.2s ease-in-out;
    transition         : opacity 0.2s ease-in-out;
}
#wave-container.inactive .dummy-line { opacity: 1; }
#wave-container canvas { 
    opacity            : 1; 
    -webkit-transition : opacity 0.2s ease-in-out;
    -moz-transition    : opacity 0.2s ease-in-out;
    -o-transition      : opacity 0.2s ease-in-out;
    transition         : opacity 0.2s ease-in-out;
}

#wave-container .listening-text {
    position   : absolute;
    left       : 0;
    right      : 0;
    top        : -40px;
    text-align : center;
    color      : #333;
}

#wave-container.inactive canvas, #wave-container.inactive .listening-text { opacity: 0; }

.result-list{
    width    : 100%;
    overflow : hidden;
}

#empty-result-container{
 display: none;
}

.empty-list #results-list{
    display: none;
}
.empty-list #empty-result-container{
    display: block;
}
.result{
    width            : 32%;
    margin           : 0 1% 1% 0;
    background-color : white;
    border-radius    : 4px;
    border           : 1px solid #ccc;
    overflow         : hidden;
    min-height       : 400px;
}
.result:nth-child(3n) { margin-right: 0; }
.result img{
    display  : block;
    width    : 100%;
}
.result .image-container { position: relative; }
.result .details-container {
    padding: 2%;
}
#tags-list{
    background-color: #f2b632;
    opacity:1;
    transition: all 0.5s ease-in-out;
}

.tag, .header-tag{
    margin:  10px;
    padding: 10px;
    display: inline-block;
    background-color: #252839;
    color: #b5b5b7;
    border-radius: 5px;
}

#results-list{ margin: 40px auto; }
body.top-search-bar #tags-list{
    transform: translateY(-20%);
    opacity:0;
}
#top-header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 50px;
    width: 100%;
    background-color: #f2b632;
    z-index:10;
    transform: translate3d(0,-100%,0);
    transition: all 0.4s ease-in-out; 
}
body.top-search-bar #top-header{
    transform: translate3d(0,0,0);
}

#wave-container { position: relative; }
#wave-container .dummy-line {
    position           : absolute;
    top                : 50%;
    left               : 50%;
    right              : 0;
    bottom             : 0;
    height             : 1px;
    background         : #d9d9d9;
    width              : 400px;
    opacity            : 0;
    -webkit-transform  : translate3d(-50%,-50%,0);
    -moz-transform     : translate3d(-50%,-50%,0);
    -o-transform       : translate3d(-50%,-50%,0);
    transform          : translate3d(-50%,-50%,0);
    -webkit-transition : opacity 0.2s ease-in-out;
    -moz-transition    : opacity 0.2s ease-in-out;
    -o-transition      : opacity 0.2s ease-in-out;
    transition         : opacity 0.2s ease-in-out;
}
#wave-container.inactive .dummy-line { opacity: 1; }
#wave-container canvas { 
    opacity            : 1; 
    -webkit-transition : opacity 0.2s ease-in-out;
    -moz-transition    : opacity 0.2s ease-in-out;
    -o-transition      : opacity 0.2s ease-in-out;
    transition         : opacity 0.2s ease-in-out;
}
#wave-container.inactive canvas { opacity: 0; }

#tags-list { display: none; }

.app-btn.pulse::after {
    -webkit-animation: anim-effect-tamara 0.5s ease-out forwards;
    animation: anim-effect-tamara 0.5s ease-out forwards;
}

@-webkit-keyframes anim-effect-tamara {
    0% {
        box-shadow: 0 0 0 3px rgba(111,148,182,0.3);
        opacity: 1;
        -webkit-transform: scale3d(0.8, 0.2, 1);
        transform: scale3d(0.8, 0.2, 1);
    }
    100% {
        box-shadow: 0 0 0 100px rgba(111,148,182,0);
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-effect-tamara {
    0% {
        box-shadow: 0 0 0 3px rgba(111,148,182,0.3);
        opacity: 1;
        -webkit-transform: scale3d(0.8, 0.2, 1);
        transform: scale3d(0.8, 0.2, 1);
    }
    100% {
        box-shadow: 0 0 0 100px rgba(111,148,182,0);
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
