/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Common Styles */

.hide { display: none !important; }

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

.pull-right { float: right; }
.pull-left  { float: left; }

.content-wrapper {
    max-width : 1170px;
    margin    : 0 auto;
    padding   : 0 15px;
}

.clickable { cursor: pointer; cursor: hand; }

.inline-top { display: inline-block; vertical-align: top; }







/* App Styles */
html { height: 100%; }
html,body {
    position    : relative;
    overflow-x  : auto;
    overflow-y  : auto;
    margin      : 0;
    font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align  : center;
}

#main-content {
    max-width : 1170px;
    margin    : 120px auto;
}






#search-box.loading .app-btn { display: none; }

.app-btn {
    border             : none;
    font-family        : inherit;
    font-size          : inherit;
    color              : inherit;
    background         : none;
    cursor             : pointer;
    padding            : 25px 80px;
    display            : inline-block;
    margin             : 15px 30px;
    letter-spacing     : 1px;
    outline            : none;
    position           : relative;
    border-radius      : 40px;
    color              : #aaa;
    border             : 1px solid #aaa;
    -webkit-transition : all 0.15s ease-in-out;
    -o-transition      : all 0.15s ease-in-out;
    -moz-transition    : all 0.15s ease-in-out;
    transition         : all 0.15s ease-in-out;
}
.app-btn:hover { background: #f5f5f5; }

#help-text {
    width       : 400px;
    margin      : 80px auto;
    font-size   : 14px;
    line-height : 20px;
}

#wave-container { position: relative; }
#wave-container .dummy-line {
    position           : absolute;
    top                : 50%;
    left               : 50%;
    right              : 0;
    bottom             : 0;
    height             : 1px;
    background         : #d9d9d9;
    width              : 400px;
    opacity            : 0;
    -webkit-transform  : translate3d(-50%,-50%,0);
    -moz-transform     : translate3d(-50%,-50%,0);
    -o-transform       : translate3d(-50%,-50%,0);
    transform          : translate3d(-50%,-50%,0);
    -webkit-transition : opacity 0.2s ease-in-out;
    -moz-transition    : opacity 0.2s ease-in-out;
    -o-transition      : opacity 0.2s ease-in-out;
    transition         : opacity 0.2s ease-in-out;
}
#wave-container.inactive .dummy-line { opacity: 1; }
#wave-container canvas { 
    opacity            : 1; 
    -webkit-transition : opacity 0.2s ease-in-out;
    -moz-transition    : opacity 0.2s ease-in-out;
    -o-transition      : opacity 0.2s ease-in-out;
    transition         : opacity 0.2s ease-in-out;
}
#wave-container.inactive canvas { opacity: 0; }

#tags-list { display: none; }



